body{
    font-family: Arial;
    background:#2ecc71;
    margin:0;
    padding:0;
}

.container{
    width:800px;
    margin:50px auto;
    background:white;
    display:flex;
    padding:20px;
}

.product__photo{
    flex:1;
}

.photo-main img{
    width:250px;
}

.photo-album ul{
    display:flex;
    list-style:none;
    padding:0;
}

.photo-album li{
    margin:5px;
}

.photo-album img{
    width:50px;
}

.product__info{
    flex:1;
    padding:20px;
}

.price{
    color:red;
    font-size:28px;
    margin:10px 0;
}

.variant img{
    margin:5px;
}

.description ul{
    padding-left:20px;
}

button{
    background:red;
    color:white;
    border:none;
    padding:10px 20px;
    margin-top:20px;
}